* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #131c21;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 2rem;
  padding: 2rem;
}

@media only screen and (max-width: 900px) {
  .app {
    gap: 1rem;
  }
}

.content {
  display: flex;
  flex-direction: row;

  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  padding: 0.8rem;

  background-color: #1e2428;
  border-radius: 3px;
  max-width: 38rem;
  box-shadow: 0 17px 50px 0 rgba(var(--shadow-rgb), 0.19),
    0 12px 15px 0 rgba(var(--shadow-rgb), 0.24);
}

.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.message span {
  color: #f1f1f26e;
  font-family: sans-serif;
  font-size: 0.95rem;
}

#box-link {
  display: flex;
  flex-wrap: wrap;
}

.modal {
  display: none;
  flex-direction: row;
}

/* Inputs */

.ipt {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  outline: none;
  will-change: width;

  padding: 9px 12px 11px;
  border-radius: 3px;
  background: #33383b;
  border: 1px solid #33383b;

  font-size: 15px;
  font-weight: 400;
  color: #f1f1f2;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.ipt::placeholder {
  font-size: 15px;
  line-height: 20px;
  color: #f1f1f26e;
  transition: opacity 0.08s linear;
}

/* Remover setas de adicionar ou remover número */
.ipt::-webkit-inner-spin-button,
.ipt::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Anchor */
a {
  font-family: sans-serif;
  font-size: 1rem;
}

/* button */
button {
  padding: 10px 24px;
  border: 1px solid transparent;
  border-radius: 3px;

  cursor: pointer;

  color: #131c21;
  background-color: #00c3ae;
  font-size: 14px;
  text-transform: uppercase;
  transition: filter 0.18s, box-shadow 0.18s;

  box-shadow: 0 1px 1px 0 rgba(var(--shadow-rgb), 0.06),
    0 2px 5px 0 rgba(var(--shadow-rgb), 0.2);
}

button:hover {
  filter: brightness(1.1);
  box-shadow: 0 1px 1px 0 rgba(var(--shadow-rgb), 0.06),
    0 2px 5px 0 rgba(var(--shadow-rgb), 0.2);
}
