@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    font-family: "Segoe UI", sans-serif;
  }

  body {
    /* height: 100vh;
    display: grid;
    place-content: center; */
    color: #e2e7e9;
    background: #131c21;
  }

  /* Remove add or remove number arrows */
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

::-webkit-scrollbar {
  background: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #e2e7e9;
  padding: 1rem;
  border-radius: 1rem;
}

::-webkit-scrollbar-button {
  background: none;
}

::-webkit-scrollbar-corner {
  background: none;
}
