* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #131c21;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00a796;
}

header h3 {
  font-size: 1.1rem;
  font-weight: 500;
  color: #bbbbbb;
}

header img {
  height: 1.6rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;

  gap: 1rem;
  padding: 1rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  padding: 0.8rem;

  background-color: #1e2428;
  border-radius: 3px;
  max-width: 50rem;
  box-shadow: 0 17px 50px 0 rgba(var(--shadow-rgb), 0.19),
    0 12px 15px 0 rgba(var(--shadow-rgb), 0.24);

  transition: all .3s;
}

@media (max-width: 649px) {
  .container {
    max-width: 28.75rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.5rem;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;

  position: absolute;
  right: 1%;
}

.logo a img {
  height: 2rem;
}

.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.message span {
  color: #f1f1f26e;
  font-weight: 300;
  font-size: 0.95rem;
}

#box-link {
  display: flex;
  flex-wrap: wrap;
}

.modal {
  display: none;
  flex-direction: row;
}

footer {
  display: flex;
  padding: 0.5rem;

  position: absolute;
  bottom: 0;
}

footer h4 {
  font-weight: 300;
  font-size: 1rem;
  color: #f1f1f26e;
}

footer a {
  font-weight: 400;
  font-size: 1rem;
  color: #f1f1f26e;
}

/* Inputs */

.ipt {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #f1f1f2;
  outline: none;

  padding: 9px 12px 11px;
  border-radius: 3px;
  background: #33383b;
  border: 1px solid #33383b;

}

.ipt::placeholder {
  font-size: 15px;
  line-height: 20px;
  color: #f1f1f26e;
  transition: opacity 0.08s linear;
}

/* Remover setas de adicionar ou remover número */
.ipt::-webkit-inner-spin-button,
.ipt::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Anchor */
a {
  font-family: sans-serif;
  font-size: 1rem;
  transition: all .3s;
}

a:hover {
  filter: brightness(1.1)
}

/* button */
button {
  padding: 10px 24px;
  border: 1px solid transparent;
  border-radius: 3px;

  cursor: pointer;

  color: #131c21;
  background-color: #00c3ae;
  font-size: 14px;
  text-transform: uppercase;
  transition: filter 0.18s, box-shadow 0.18s;

  box-shadow: 0 1px 1px 0 rgba(var(--shadow-rgb), 0.06),
    0 2px 5px 0 rgba(var(--shadow-rgb), 0.2);
}

button:hover {
  filter: brightness(1.1);
  box-shadow: 0 1px 1px 0 rgba(var(--shadow-rgb), 0.06),
    0 2px 5px 0 rgba(var(--shadow-rgb), 0.2);
}


/* select */
.select {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #f1f1f2;
  outline: none;

  padding: 9px 12px 11px;
  border-radius: 3px;
  background: #33383b;
  border: 1px solid #33383b;
  width: 200px;

  transition: filter .3s;
}

.select:hover {
  filter: brightness(1.1);
}